.modal {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: white;
  border-radius: 1rem;
  left: 25%;
  top: 30%;
  max-width: 300px;
  padding: 1rem;
}
