@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Mountains of Christmas', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: green;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 3px;
}

.btn-danger {
  background-color: red;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
